@model FullStackTechTest.Models.Specialities.IndexViewModel

@{
    ViewData["Title"] = "Specialities";
}

<div class="container">
    @if(!string.IsNullOrEmpty(Model.Message))
    {
        if (Model.IsError)
        {
            <div class="alert alert-danger" role="alert">
                @Model.Message
            </div>
        }
        else
        {
            <div class="alert alert-success" role="alert">
                @Model.Message
            </div>
        }
    }
    
    <div class="pb-4">

        <a href="@Url.Action("Create")" class="btn btn-primary" role="button">Create</a>

    </div>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var speciality in Model.SpecialityList)
        {
            <tr class="clickable-row pointer-event" data-href="@Url.Action("Details", new { id = speciality.Id })">
                <td>@speciality.Id</td>
                <td>@speciality.Name</td>
                <td>
                    @using (Html.BeginForm("Delete", "Specialities", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", speciality.Id)
                        <button type="submit" class="btn btn-danger">Delete</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>